---
import Movies from "../components/Movies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>SHINE</h1>
    <Movies />
  </main>
</Layout>

<style>
  main {
    padding: 2rem 0;
  }

  h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #111;
  }
</style>
