openapi: '3.1.0'
info:
  title: SHINE Movie Database API
  description: |
    SHINE is a comprehensive movie database API designed to be the world's most organized movie database.
    It collects and organizes movie information, awards, nominations, and multilingual translations.

    **Features:**
    - Date-seeded movie selections (daily/weekly/monthly)
    - Comprehensive awards and nominations tracking
    - Multilingual movie title support
    - User-submitted article links
    - Admin management interface

    **Authentication:**
    - Public endpoints require no authentication
    - Admin endpoints require JWT Bearer token

    **Rate Limiting:**
    - Article link submissions: 10 per hour per IP
  version: 1.0.0
  contact:
    name: SHINE Movie Database
    url: https://shine-film.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.shine-film.com
    description: Production server

paths:
  /:
    get:
      summary: Get date-seeded movie selections
      description: Returns daily, weekly, and monthly movie selections using deterministic hash-based algorithms
      operationId: getMovieSelections
      tags:
        - Movies
      security: []
      parameters:
        - name: locale
          in: query
          description: Language preference for movie titles
          required: false
          schema:
            type: string
            enum: [en, ja]
            default: en
      responses:
        '200':
          description: Successfully retrieved movie selections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieSelections'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /selections/{type}/history:
    get:
      summary: Get recent selections per type
      description: Returns recent movie selections of the given type in reverse chronological order, e.g. for archive pages or RSS feeds
      operationId: getSelectionHistory
      tags:
        - Movies
      security: []
      parameters:
        - name: type
          in: path
          description: Selection period type
          required: true
          schema:
            type: string
            enum: [daily, weekly, monthly]
        - name: locale
          in: query
          description: Language preference for movie titles
          required: false
          schema:
            type: string
            enum: [en, ja]
            default: ja
        - name: limit
          in: query
          description: Maximum number of items to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 30
            default: 14
      responses:
        '200':
          description: Successfully retrieved selection history
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required: [uid, title, selectionDate]
                      properties:
                        uid:
                          type: string
                          format: uuid
                        title:
                          type: string
                        year:
                          type: integer
                        selectionDate:
                          type: string
                          format: date
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /movies/search:
    get:
      summary: Search movies
      description: Search and filter movies with pagination support
      operationId: searchMovies
      tags:
        - Movies
      security: []
      parameters:
        - name: q
          in: query
          description: Search query for movie titles
          required: false
          schema:
            type: string
            maxLength: 100
        - name: year
          in: query
          description: Filter by release year
          required: false
          schema:
            type: integer
            minimum: 1900
            maximum: 2100
        - name: language
          in: query
          description: Filter by original language
          required: false
          schema:
            type: string
            pattern: '^[a-z]{2}$'
        - name: hasAwards
          in: query
          description: Filter movies with awards/nominations
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Successfully retrieved search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieSearchResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /movies/{id}:
    get:
      summary: Get movie details
      description: Retrieve detailed information about a specific movie including translations, posters, and nominations
      operationId: getMovieById
      tags:
        - Movies
      security: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved movie details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieDetails'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /movies/{id}/related:
    get:
      summary: Get related movies
      description: Returns movies sharing an award category with the given movie, winners first
      operationId: getRelatedMovies
      tags:
        - Movies
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: locale
          in: query
          description: Language preference for movie titles
          required: false
          schema:
            type: string
            enum: [en, ja]
            default: ja
        - name: limit
          in: query
          description: Maximum number of movies to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 12
            default: 6
      responses:
        '200':
          description: Successfully retrieved related movies
          content:
            application/json:
              schema:
                type: object
                required: [movies]
                properties:
                  movies:
                    type: array
                    items:
                      type: object
                      required: [uid, title]
                      properties:
                        uid:
                          type: string
                          format: uuid
                        title:
                          type: string
                        year:
                          type: integer
                        posterUrl:
                          type: string
                          format: uri
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /awards:
    get:
      summary: List award pages
      description: Returns all award and editorial list pages that have nominations
      operationId: listAwards
      tags:
        - Awards
      security: []
      responses:
        '200':
          description: Successfully retrieved award pages
          content:
            application/json:
              schema:
                type: object
                required: [awards]
                properties:
                  awards:
                    type: array
                    items:
                      $ref: '#/components/schemas/AwardSummary'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /people:
    get:
      summary: List people who have a page worth indexing
      description: |
        Returns people credited on at least two films, or credited as director
        on any film, ordered by the number of films they worked on. Soft-deleted
        films are not counted. Intended for the sitemap.
      operationId: listPeople
      tags:
        - Movies
      security: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
          description: People per page; values above 500 are clamped
      responses:
        '200':
          description: Successfully retrieved people
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeopleListResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /people/prominent:
    get:
      summary: Get the most awarded directors and actors
      description: |
        Returns directors and actors ranked by how many times they won a
        personal award (Best Director and the acting awards), then by how many
        times they were nominated. A win or nomination counts once per ceremony
        and category even when several films are attached to it. Soft-deleted
        films are excluded.
      operationId: getProminentPeople
      tags:
        - Movies
      security: []
      parameters:
        - name: locale
          in: query
          required: false
          schema:
            type: string
            enum: [ja, en]
            default: ja
          description: Language for names and film titles
      responses:
        '200':
          description: Successfully retrieved the rankings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProminentPeople'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /people/{personId}:
    get:
      summary: Get a person and the films they worked on
      description: |
        Returns one person with the films they are credited on, newest first.
        Names come from the credits import: Japanese names are stored on the
        person, foreign names get their Japanese form from translations.
      operationId: getPerson
      tags:
        - Movies
      security: []
      parameters:
        - name: personId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Person UID
        - name: locale
          in: query
          required: false
          schema:
            type: string
            enum: [ja, en]
            default: ja
          description: Language for names and film titles
      responses:
        '200':
          description: Successfully retrieved the person
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /crossings:
    get:
      summary: Get how awards overlap
      description: |
        Returns how often the award pages pick the same films: the film count of
        each award, the shared count of every award pair, how many films were
        picked by 1..13 awards, and the films picked by the most awards.
      operationId: getCrossings
      tags:
        - Awards
      security: []
      responses:
        '200':
          description: Successfully retrieved award crossings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardCrossings'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /uncrowned:
    get:
      summary: Get the most-nominated films that never won
      description: |
        Returns the films with the most nominations in the year-grouped award
        pages that never won any of them, with the awards and ceremony years
        they lost, plus how many nominated films exist and how many of them
        never won. Editorial lists are not counted.
      operationId: getUncrowned
      tags:
        - Awards
      security: []
      responses:
        '200':
          description: Successfully retrieved uncrowned films
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Uncrowned'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /awards/{slug}:
    get:
      summary: Get an award page
      description: |
        Returns the movies of an award or editorial list grouped by ceremony year.
        Year-grouped awards return winners only (with `filmCount` per year); use
        `/awards/{slug}/{year}` for the full lineup. List awards are paginated.
        Personal awards (Best Director, acting awards) return every nominee per
        ceremony year with the films they were nominated for; they have no year
        pages.
      operationId: getAwardBySlug
      tags:
        - Awards
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Page number for list-grouped awards (100 per page). Out-of-range pages return 404. Ignored for year-grouped awards
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Successfully retrieved the award page
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AwardDetail'
                  - $ref: '#/components/schemas/PersonAwardDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /awards/{slug}/{year}:
    get:
      summary: Get a single ceremony year of an award
      description: Returns one ceremony year of a year-grouped award, with neighboring ceremony years for navigation
      operationId: getAwardYear
      tags:
        - Awards
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: year
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved the award year
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardYearDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /years:
    get:
      summary: List production years
      description: Returns every production year that has at least one film selected by an award or editorial list, newest first
      operationId: listYears
      tags:
        - Awards
      security: []
      responses:
        '200':
          description: Successfully retrieved years
          content:
            application/json:
              schema:
                type: object
                required: [years]
                properties:
                  years:
                    type: array
                    items:
                      $ref: '#/components/schemas/YearSummary'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /years/{year}:
    get:
      summary: Get the films of a production year
      description: |
        Returns the films produced in the given year that were selected by any
        award or editorial list, with the awards each film appeared in, and the
        neighboring years that have films for navigation. Winners come first,
        then films with more selections.
      operationId: getYear
      tags:
        - Awards
      security: []
      parameters:
        - name: year
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved the year
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YearDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /quiz/daily:
    get:
      summary: Get today's quiz
      description: Returns the puzzle date and the number of attempts. Never contains anything that identifies the answer
      operationId: getQuizDaily
      tags:
        - Quiz
      security: []
      parameters:
        - name: date
          in: query
          description: Puzzle date (YYYY-MM-DD). Defaults to today; future dates are rejected
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successfully retrieved the puzzle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizPuzzle'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /quiz/candidates:
    get:
      summary: List every movie that can be guessed
      description: Returns the whole quiz pool so the client can filter guesses locally
      operationId: getQuizCandidates
      tags:
        - Quiz
      security: []
      responses:
        '200':
          description: Successfully retrieved the candidates
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidates:
                    type: array
                    items:
                      $ref: '#/components/schemas/QuizCandidate'
                required:
                  - candidates
        '500':
          $ref: '#/components/responses/InternalServerError'

  /quiz/guess:
    post:
      summary: Submit a guess
      description: Checks a guess server-side. Returns the next hint while attempts remain, and the answer once solved or after the last attempt
      operationId: submitQuizGuess
      tags:
        - Quiz
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date
                movieUid:
                  type: string
                  description: Omit to pass on this attempt
                attempt:
                  type: integer
                  minimum: 1
              required:
                - attempt
      responses:
        '200':
          description: Guess processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizGuessResult'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /quiz/answer:
    get:
      summary: Get the answer (internal)
      description: Returns the answer including the poster URL. Used by the frontend worker to render the cropped poster; requires the shared key
      operationId: getQuizAnswer
      tags:
        - Quiz
      security: []
      parameters:
        - name: X-Quiz-Key
          in: header
          required: true
          schema:
            type: string
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successfully retrieved the answer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizAnswer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /movies/{id}/article-links:
    get:
      summary: Get movie article links
      description: Retrieve user-submitted article links for a specific movie (excluding spam-flagged items)
      operationId: getMovieArticleLinks
      tags:
        - Articles
      security: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved article links
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArticleLink'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Submit movie article link
      description: Submit a new article link for a movie (rate limited to 10 per hour per IP)
      operationId: submitMovieArticleLink
      tags:
        - Articles
      security: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleLinkSubmission'
      responses:
        '201':
          description: Article link successfully submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleLinkResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /movies/{id}/translations:
    post:
      summary: Add or update movie translation
      description: Add or update a movie title translation for a specific language
      operationId: addMovieTranslation
      tags:
        - Translations
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
      responses:
        '200':
          description: Translation successfully added or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /movies/{id}/translations/{lang}:
    delete:
      summary: Delete movie translation
      description: Remove a movie title translation for a specific language
      operationId: deleteMovieTranslation
      tags:
        - Translations
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
        - name: lang
          in: path
          description: Language code
          required: true
          schema:
            type: string
            pattern: '^[a-z]{2}$'
      responses:
        '200':
          description: Translation successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /fetch-url-title:
    post:
      summary: Extract title from URL
      description: Utility endpoint to extract page title from a given URL
      operationId: fetchUrlTitle
      tags:
        - Utilities
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
                  description: URL to extract title from
      responses:
        '200':
          description: Successfully extracted title
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Extracted page title
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/login:
    post:
      summary: Admin login
      description: Authenticate as admin and receive JWT token
      operationId: adminLogin
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
                  description: Admin password
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT token (valid for 24 hours)
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies:
    get:
      summary: List all movies (admin)
      description: Retrieve paginated list of all movies with admin details
      operationId: adminListMovies
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: search
          in: query
          description: Search query for movie titles
          required: false
          schema:
            type: string
            maxLength: 100
      responses:
        '200':
          description: Successfully retrieved movies list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMoviesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create movie from IMDb ID (admin)
      description: Create a new movie from an IMDb ID, optionally importing TMDb data (posters and translations)
      operationId: adminCreateMovie
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovieCreateRequest'
      responses:
        '201':
          description: Movie successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieCreateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{id}:
    get:
      summary: Get movie details (admin)
      description: Retrieve movie details for admin including all translations, posters, and nominations
      operationId: adminGetMovie
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved movie details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMovieDetails'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update movie basic info (admin)
      description: Update movie year, original language, and media type
      operationId: adminUpdateMovie
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovieUpdateRequest'
      responses:
        '200':
          description: Movie successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete movie (admin)
      description: Delete a movie and all related data (cascading delete)
      operationId: adminDeleteMovie
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Movie successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{id}/imdb-id:
    put:
      summary: Update movie IMDb ID (admin)
      description: Update movie IMDb ID with optional TMDb data synchronization
      operationId: adminUpdateMovieImdbId
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImdbIdUpdateRequest'
      responses:
        '200':
          description: IMDb ID successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImdbIdUpdateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{id}/tmdb-id:
    put:
      summary: Update movie TMDb ID (admin)
      description: Update movie TMDb ID with optional TMDb data synchronization
      operationId: adminUpdateMovieTmdbId
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TmdbIdUpdateRequest'
      responses:
        '200':
          description: TMDb ID successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmdbIdUpdateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{id}/posters:
    post:
      summary: Add movie poster (admin)
      description: Add a new poster for a movie
      operationId: adminAddMoviePoster
      tags:
        - Admin - Posters
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosterAddRequest'
      responses:
        '201':
          description: Poster successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosterResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{movieId}/posters/{posterId}:
    delete:
      summary: Delete movie poster (admin)
      description: Remove a poster from a movie
      operationId: adminDeleteMoviePoster
      tags:
        - Admin - Posters
      security:
        - BearerAuth: []
      parameters:
        - name: movieId
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
        - name: posterId
          in: path
          description: Poster unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Poster successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/article-links/{id}/spam:
    post:
      summary: Flag article link as spam (admin)
      description: Mark an article link as spam to hide it from public view
      operationId: adminFlagArticleLinkSpam
      tags:
        - Admin - Articles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Article link unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Article link successfully flagged as spam
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /reselect:
    post:
      summary: Force movie reselection (admin)
      description: Force regeneration of movie selection for a specific period
      operationId: adminForceReselection
      tags:
        - Admin - Selections
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReselectRequest'
      responses:
        '200':
          description: Movie selection successfully regenerated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReselectResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{id}/external-id-search:
    get:
      summary: Search external movie IDs (admin)
      description: Search TMDb for candidate external IDs (TMDb/IMDb) matching a movie
      operationId: adminSearchExternalMovieIds
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
        - name: query
          in: query
          description: Search query (defaults to the movie's stored title)
          required: false
          schema:
            type: string
        - name: language
          in: query
          description: Search language (ja or en prefixed values)
          required: false
          schema:
            type: string
        - name: year
          in: query
          description: Release year to bias search results
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          description: Maximum number of results
          required: false
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successfully retrieved external ID candidates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIdSearchResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: TMDb API key is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{id}/auto-fetch-tmdb:
    post:
      summary: Auto-fetch TMDb data using IMDb ID (admin)
      description: Detect the TMDb ID from the movie's IMDb ID, then import posters and translations from TMDb
      operationId: adminAutoFetchTmdb
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: TMDb data successfully fetched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoFetchTmdbResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{id}/refresh-tmdb:
    post:
      summary: Refresh TMDb data (admin)
      description: Re-import posters and translations from TMDb using the movie's stored TMDb ID
      operationId: adminRefreshTmdb
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: TMDb data successfully refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TmdbIdUpdateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{sourceId}/merge/{targetId}:
    post:
      summary: Merge movies (admin)
      description: Merge the source movie's data (nominations, translations, posters, article links) into the target movie and delete the source movie
      operationId: adminMergeMovies
      tags:
        - Admin - Movies
      security:
        - BearerAuth: []
      parameters:
        - name: sourceId
          in: path
          description: Source movie unique identifier (deleted after merge)
          required: true
          schema:
            type: string
            format: uuid
        - name: targetId
          in: path
          description: Target movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Movies successfully merged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeMoviesResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/movies/{movieId}/nominations:
    post:
      summary: Add nomination to movie (admin)
      description: Add an award nomination for a movie
      operationId: adminAddNomination
      tags:
        - Admin - Nominations
      security:
        - BearerAuth: []
      parameters:
        - name: movieId
          in: path
          description: Movie unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationCreateRequest'
      responses:
        '200':
          description: Nomination successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NominationRecord'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/nominations/{nominationId}:
    put:
      summary: Update nomination (admin)
      description: Update the winner flag and special mention of a nomination
      operationId: adminUpdateNomination
      tags:
        - Admin - Nominations
      security:
        - BearerAuth: []
      parameters:
        - name: nominationId
          in: path
          description: Nomination unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NominationUpdateRequest'
      responses:
        '200':
          description: Nomination successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete nomination (admin)
      description: Delete an award nomination
      operationId: adminDeleteNomination
      tags:
        - Admin - Nominations
      security:
        - BearerAuth: []
      parameters:
        - name: nominationId
          in: path
          description: Nomination unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Nomination successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/article-links/{id}:
    delete:
      summary: Delete article link (admin)
      description: Permanently delete an article link
      operationId: adminDeleteArticleLink
      tags:
        - Admin - Articles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Article link unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Article link successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/ceremonies:
    get:
      summary: List award ceremonies (admin)
      description: Retrieve all award ceremonies with organization info and nominated movie counts
      operationId: adminListCeremonies
      tags:
        - Admin - Awards
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successfully retrieved ceremonies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CeremoniesListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create award ceremony (admin)
      description: Create a new award ceremony for an organization
      operationId: adminCreateCeremony
      tags:
        - Admin - Awards
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CeremonyRequest'
      responses:
        '201':
          description: Ceremony successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CeremonyDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/ceremonies/{ceremonyUid}:
    get:
      summary: Get award ceremony detail (admin)
      description: Retrieve a ceremony with its nominations
      operationId: adminGetCeremony
      tags:
        - Admin - Awards
      security:
        - BearerAuth: []
      parameters:
        - name: ceremonyUid
          in: path
          description: Ceremony unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved ceremony detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CeremonyDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update award ceremony (admin)
      description: Update an award ceremony
      operationId: adminUpdateCeremony
      tags:
        - Admin - Awards
      security:
        - BearerAuth: []
      parameters:
        - name: ceremonyUid
          in: path
          description: Ceremony unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CeremonyRequest'
      responses:
        '200':
          description: Ceremony successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CeremonyDetail'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete award ceremony (admin)
      description: Delete a ceremony and all of its nominations
      operationId: adminDeleteCeremony
      tags:
        - Admin - Awards
      security:
        - BearerAuth: []
      parameters:
        - name: ceremonyUid
          in: path
          description: Ceremony unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ceremony successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/ceremonies/{ceremonyUid}/sync-imdb:
    post:
      summary: Sync ceremony nominations from IMDb (admin)
      description: Import nominations for a ceremony category from its configured IMDb event page
      operationId: adminSyncCeremonyFromImdb
      tags:
        - Admin - Awards
      security:
        - BearerAuth: []
      parameters:
        - name: ceremonyUid
          in: path
          description: Ceremony unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - categoryUid
              properties:
                categoryUid:
                  type: string
                  format: uuid
                  description: Award category to sync nominations into
      responses:
        '200':
          description: Nominations successfully synced from IMDb
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Operation success status
                  ceremony:
                    $ref: '#/components/schemas/CeremonyDetail'
                  stats:
                    type: object
                    description: Sync statistics (created/updated/skipped counts)
                required:
                  - success
                  - ceremony
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: IMDb event page could not be parsed or matched to movies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Failed to fetch the IMDb event page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/awards:
    get:
      summary: Get awards data for nomination editing (admin)
      description: Retrieve all award organizations, ceremonies, and categories
      operationId: adminGetAwardsData
      tags:
        - Admin - Awards
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successfully retrieved awards data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardsDataResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/preview-selections:
    get:
      summary: Preview next period selections (admin)
      description: Preview the movies that will be selected for the next daily, weekly, and monthly periods
      operationId: adminPreviewSelections
      tags:
        - Admin - Selections
      security:
        - BearerAuth: []
      parameters:
        - name: locale
          in: query
          description: Language preference for movie titles
          required: false
          schema:
            type: string
            enum: [en, ja]
            default: en
      responses:
        '200':
          description: Successfully retrieved selection previews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewSelectionsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/override-selection:
    post:
      summary: Override movie selection (admin)
      description: Set a specific movie as the selection for a given date and period type
      operationId: adminOverrideSelection
      tags:
        - Admin - Selections
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideSelectionRequest'
      responses:
        '200':
          description: Selection successfully overridden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/cleanup-future-selections:
    delete:
      summary: Clean up future selections (admin)
      description: Delete movie selections scheduled for future dates
      operationId: adminCleanupFutureSelections
      tags:
        - Admin - Selections
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Future selections successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanupFutureSelectionsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /admin/random-movie-preview:
    post:
      summary: Generate random movie preview (admin)
      description: Generate a random movie preview for a specific date and period type without writing a selection
      operationId: adminRandomMoviePreview
      tags:
        - Admin - Selections
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RandomMoviePreviewRequest'
      responses:
        '200':
          description: Successfully generated movie preview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieWithDetails'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login endpoint

  schemas:
    Movie:
      type: object
      properties:
        uid:
          type: string
          format: uuid
          description: Unique identifier for the movie
        year:
          type: integer
          minimum: 1900
          maximum: 2100
          description: Release year
        originalLanguage:
          type: string
          pattern: '^[a-z]{2}$'
          description: ISO 639-1 language code
        imdbId:
          type: [string, 'null']
          pattern: '^tt\d{7,8}$'
          description: IMDb identifier (tt format)
        tmdbId:
          type: [integer, 'null']
          minimum: 1
          description: TMDb identifier
        title:
          type: string
          description: Movie title (localized)
        posterUrl:
          type: [string, 'null']
          format: uri
          description: Primary poster image URL
        imdbUrl:
          type: [string, 'null']
          format: uri
          description: IMDb page URL
        hasAwards:
          type: boolean
          description: Whether the movie has awards or nominations
      required:
        - uid
        - year
        - originalLanguage
        - title

    MovieDetails:
      allOf:
        - $ref: '#/components/schemas/Movie'
        - type: object
          properties:
            posters:
              type: array
              items:
                $ref: '#/components/schemas/Poster'
              description: All poster images for the movie
            translations:
              type: array
              items:
                $ref: '#/components/schemas/Translation'
              description: Movie title translations
            nominations:
              type: array
              items:
                $ref: '#/components/schemas/Nomination'
              description: Awards and nominations

    Poster:
      type: object
      properties:
        uid:
          type: string
          format: uuid
          description: Unique identifier for the poster
        url:
          type: string
          format: uri
          description: Poster image URL
        width:
          type: [integer, 'null']
          minimum: 1
          description: Image width in pixels
        height:
          type: [integer, 'null']
          minimum: 1
          description: Image height in pixels
        languageCode:
          type: [string, 'null']
          pattern: '^[a-z]{2}$'
          description: Language-specific poster
        sourceType:
          type: string
          enum: [tmdb, manual, scraper]
          description: Source of the poster
        isPrimary:
          type: boolean
          description: Whether this is the primary poster
      required:
        - uid
        - url
        - sourceType
        - isPrimary

    Translation:
      type: object
      properties:
        languageCode:
          type: string
          pattern: '^[a-z]{2}$'
          description: ISO 639-1 language code
        content:
          type: string
          description: Translated movie title
        isDefault:
          type: boolean
          description: Whether this is the default translation
      required:
        - languageCode
        - content
        - isDefault

    Nomination:
      type: object
      properties:
        uid:
          type: string
          format: uuid
          description: Unique identifier for the nomination
        isWinner:
          type: boolean
          description: Whether this nomination won the award
        specialMention:
          type: [string, 'null']
          description: Special mention or note about the nomination
        person:
          type: object
          description: 個人賞の受賞者・候補者。作品賞では返らない
          properties:
            uid:
              type: string
              format: uuid
            name:
              type: string
          required:
            - uid
            - name
        category:
          $ref: '#/components/schemas/AwardCategory'
        ceremony:
          $ref: '#/components/schemas/AwardCeremony'
        organization:
          $ref: '#/components/schemas/AwardOrganization'
      required:
        - uid
        - isWinner
        - category
        - ceremony
        - organization

    AwardCategory:
      type: object
      properties:
        uid:
          type: string
          format: uuid
          description: Unique identifier for the category
        name:
          type: string
          description: Category name
        displayName:
          type: [string, 'null']
          description: Japanese name of the award, returned only for `locale=ja`
      required:
        - uid
        - name

    AwardCeremony:
      type: object
      properties:
        uid:
          type: string
          format: uuid
          description: Unique identifier for the ceremony
        number:
          type: integer
          minimum: 1
          description: Ceremony number (e.g., 95th Academy Awards)
        year:
          type: integer
          minimum: 1900
          maximum: 2100
          description: Ceremony year
      required:
        - uid
        - number
        - year

    AwardMovieEntry:
      type: object
      properties:
        uid:
          type: string
          format: uuid
        title:
          type: string
        movieYear:
          type: integer
        posterUrl:
          type: string
          format: uri
        isWinner:
          type: boolean
        specialMention:
          type: string
          description: ランキング形式の賞で「N位」が入る
      required:
        - uid
        - isWinner

    AwardYearGroup:
      type: object
      properties:
        year:
          type: integer
        ceremonyNumber:
          type: integer
        filmCount:
          type: integer
          description: Total films of that ceremony. `movies` holds winners only for year-grouped awards
        movies:
          type: array
          items:
            $ref: '#/components/schemas/AwardMovieEntry'
      required:
        - year
        - filmCount
        - movies

    AwardPagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        totalCount:
          type: integer
        totalPages:
          type: integer
      required:
        - page
        - perPage
        - totalCount
        - totalPages

    QuizPuzzle:
      type: object
      properties:
        date:
          type: string
          format: date
        maxAttempts:
          type: integer
        poolSize:
          type: integer
      required:
        - date
        - maxAttempts
        - poolSize

    QuizCandidate:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        year:
          type: [integer, 'null']
      required:
        - uid
        - title

    QuizHint:
      type: object
      properties:
        label:
          type: string
        value:
          type: string
      required:
        - label
        - value

    QuizAnswer:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        year:
          type: [integer, 'null']
        posterUrl:
          type: string
        focalX:
          type: number
        focalY:
          type: number
      required:
        - uid
        - title
        - posterUrl
        - focalX
        - focalY

    QuizGuessResult:
      type: object
      properties:
        correct:
          type: boolean
        hint:
          allOf:
            - $ref: '#/components/schemas/QuizHint'
          description: Returned while attempts remain
        answer:
          allOf:
            - $ref: '#/components/schemas/QuizAnswer'
          description: Returned once solved or after the last attempt
      required:
        - correct

    AwardSummary:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        organization:
          type: string
        description:
          type: string
        grouping:
          type: string
          enum: [year, list, person]
        movieCount:
          type: integer
        personCount:
          type: integer
          description: Present only when grouping is `person`
        firstYear:
          type: integer
        lastYear:
          type: integer
      required:
        - slug
        - name
        - organization
        - description
        - grouping
        - movieCount
        - firstYear
        - lastYear

    AwardDetail:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        organization:
          type: string
        description:
          type: string
        grouping:
          type: string
          enum: [year, list]
        years:
          type: array
          items:
            $ref: '#/components/schemas/AwardYearGroup'
        pagination:
          allOf:
            - $ref: '#/components/schemas/AwardPagination'
          description: Present only when grouping is `list`
      required:
        - slug
        - name
        - organization
        - description
        - grouping
        - years

    PersonAwardNominee:
      type: object
      properties:
        uid:
          type: string
          format: uuid
        name:
          type: string
          description: Japanese name when available, otherwise the original
        originalName:
          type: string
        profilePath:
          type: string
        isWinner:
          type: boolean
        movies:
          type: array
          items:
            type: object
            properties:
              uid:
                type: string
                format: uuid
              title:
                type: string
              movieYear:
                type: integer
            required:
              - uid
          description: Films attached to this nomination. Early ceremonies attached several films to one win
      required:
        - uid
        - name
        - originalName
        - isWinner
        - movies

    PersonAwardYearGroup:
      type: object
      properties:
        year:
          type: integer
        ceremonyNumber:
          type: integer
        nominees:
          type: array
          items:
            $ref: '#/components/schemas/PersonAwardNominee'
          description: Winners first
      required:
        - year
        - nominees

    PersonAwardDetail:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        organization:
          type: string
        description:
          type: string
        grouping:
          type: string
          enum: [person]
        years:
          type: array
          items:
            $ref: '#/components/schemas/PersonAwardYearGroup'
      required:
        - slug
        - name
        - organization
        - description
        - grouping
        - years

    AwardYearDetail:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        organization:
          type: string
        description:
          type: string
        year:
          type: integer
        ceremonyNumber:
          type: integer
        movies:
          type: array
          items:
            $ref: '#/components/schemas/AwardMovieEntry'
        previousYear:
          type: integer
        nextYear:
          type: integer
      required:
        - slug
        - name
        - organization
        - description
        - year
        - movies

    YearSummary:
      type: object
      properties:
        year:
          type: integer
        movieCount:
          type: integer
          description: Films of this production year selected by any award or list
        winnerCount:
          type: integer
          description: Films of this production year that won at least one award
      required:
        - year
        - movieCount
        - winnerCount

    YearMovie:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
          description: Japanese title when available, otherwise the default title
        posterUrl:
          type: string
        isWinner:
          type: boolean
          description: Whether the film won any of its awards
        awards:
          type: array
          description: Award pages the film appears in, in site order
          items:
            type: object
            properties:
              slug:
                type: string
              isWinner:
                type: boolean
            required:
              - slug
              - isWinner
      required:
        - uid
        - isWinner
        - awards

    YearDetail:
      type: object
      properties:
        year:
          type: integer
        movies:
          type: array
          items:
            $ref: '#/components/schemas/YearMovie'
        awards:
          type: array
          description: Award pages that appear in this year, in site order
          items:
            type: object
            properties:
              slug:
                type: string
              shortLabel:
                type: string
              name:
                type: string
              organization:
                type: string
            required:
              - slug
              - shortLabel
              - name
              - organization
        previousYear:
          type: integer
        nextYear:
          type: integer
      required:
        - year
        - movies
        - awards

    AwardCrossings:
      type: object
      properties:
        awards:
          type: array
          description: Awards that have at least one nomination
          items:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
              shortLabel:
                type: string
                description: Short label for chart axes
              organization:
                type: string
              filmCount:
                type: integer
            required: [slug, name, shortLabel, organization, filmCount]
        pairs:
          type: array
          description: Award pairs that share at least one film, most shared first
          items:
            type: object
            properties:
              a:
                type: string
                description: Slug of the first award, alphabetically before `b`
              b:
                type: string
              shared:
                type: integer
                description: Number of films picked by both awards
            required: [a, b, shared]
        distribution:
          type: array
          description: How many films were picked by exactly N awards, N descending
          items:
            type: object
            properties:
              awardCount:
                type: integer
              filmCount:
                type: integer
            required: [awardCount, filmCount]
        topMovies:
          type: array
          description: Films picked by the most awards, at most 24
          items:
            type: object
            properties:
              uid:
                type: string
                format: uuid
              title:
                type: [string, 'null']
              year:
                type: [integer, 'null']
              posterUrl:
                type: [string, 'null']
              awardSlugs:
                type: array
                items:
                  type: string
            required: [uid, awardSlugs]
      required:
        - awards
        - pairs
        - distribution
        - topMovies

    Uncrowned:
      type: object
      properties:
        nominatedFilmCount:
          type: integer
          description: Films nominated in the year-grouped award pages
        uncrownedFilmCount:
          type: integer
          description: Nominated films that never won any of those awards
        awards:
          type: array
          description: Year-grouped awards that appear among the losses
          items:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
              shortLabel:
                type: string
              organization:
                type: string
            required: [slug, name, shortLabel, organization]
        topMovies:
          type: array
          description: Films with the most losses and no wins, at most 24
          items:
            type: object
            properties:
              uid:
                type: string
                format: uuid
              title:
                type: [string, 'null']
              year:
                type: [integer, 'null']
              posterUrl:
                type: [string, 'null']
              losses:
                type: array
                description: Lost nominations, oldest ceremony first
                items:
                  type: object
                  properties:
                    slug:
                      type: string
                    year:
                      type: integer
                      description: Ceremony year of the lost nomination
                  required: [slug, year]
            required: [uid, losses]
      required:
        - nominatedFilmCount
        - uncrownedFilmCount
        - awards
        - topMovies

    AwardOrganization:
      type: object
      properties:
        uid:
          type: string
          format: uuid
          description: Unique identifier for the organization
        name:
          type: string
          description: Organization full name
        shortName:
          type: [string, 'null']
          description: Organization short name or abbreviation
        displayName:
          type: [string, 'null']
          description: Japanese name of the organization, returned only for `locale=ja`
        slug:
          type: [string, 'null']
          description: Slug of the award page on the frontend (/awards/{slug}), if one exists
        hasYearPages:
          type: boolean
          description: Whether per-year pages (/awards/{slug}/{year}) exist for this organization's award
      required:
        - uid
        - name

    ArticleLink:
      type: object
      properties:
        uid:
          type: string
          format: uuid
          description: Unique identifier for the article link
        url:
          type: string
          format: uri
          description: Article URL
        title:
          type: string
          description: Article title
        description:
          type: [string, 'null']
          description: Article description
        submittedAt:
          type: string
          format: date-time
          description: Submission timestamp
      required:
        - uid
        - url
        - title
        - submittedAt

    MovieSelections:
      type: object
      properties:
        daily:
          $ref: '#/components/schemas/MovieWithDetails'
        weekly:
          $ref: '#/components/schemas/MovieWithDetails'
        monthly:
          $ref: '#/components/schemas/MovieWithDetails'
      required:
        - daily
        - weekly
        - monthly

    MovieWithDetails:
      allOf:
        - $ref: '#/components/schemas/Movie'
        - type: object
          properties:
            nominations:
              type: array
              items:
                $ref: '#/components/schemas/Nomination'
              description: Awards and nominations
            articleLinks:
              type: array
              items:
                $ref: '#/components/schemas/ArticleLink'
              description: Related article links (max 3)
            credits:
              $ref: '#/components/schemas/MovieCredits'

    PersonSummary:
      type: object
      properties:
        uid:
          type: string
          format: uuid
        name:
          type: string
          description: Name as stored on the person (Japanese for Japanese people, original name otherwise)
        movieCount:
          type: integer
          description: Films the person is credited on, excluding soft-deleted films
      required:
        - uid
        - name
        - movieCount

    PeopleListResponse:
      type: object
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/PersonSummary'
        pagination:
          $ref: '#/components/schemas/AwardPagination'
      required:
        - people
        - pagination

    ProminentPerson:
      type: object
      properties:
        uid:
          type: string
          format: uuid
        name:
          type: string
          description: Localized name when available, otherwise the original
        originalName:
          type: string
        profilePath:
          type: string
        wonCount:
          type: integer
          description: Ceremonies where this person won a personal award
        nominatedCount:
          type: integer
          description: Ceremonies where this person was nominated for a personal award, wins included
        topMovies:
          type: array
          items:
            type: object
            properties:
              uid:
                type: string
                format: uuid
              title:
                type: string
              year:
                type: integer
            required:
              - uid
          description: Up to three films the person won a personal award for, newest first
      required:
        - uid
        - name
        - originalName
        - wonCount
        - nominatedCount
        - topMovies

    ProminentPeople:
      type: object
      properties:
        directors:
          type: array
          items:
            $ref: '#/components/schemas/ProminentPerson'
        actors:
          type: array
          items:
            $ref: '#/components/schemas/ProminentPerson'
      required:
        - directors
        - actors

    PersonDetail:
      type: object
      properties:
        uid:
          type: string
          format: uuid
        name:
          type: string
          description: Localized name when available, otherwise the original
        originalName:
          type: string
        profilePath:
          type: string
        credits:
          type: array
          items:
            type: object
            properties:
              movieUid:
                type: string
                format: uuid
              title:
                type: string
              year:
                type: integer
              posterUrl:
                type: string
              jobs:
                type: array
                items:
                  type: string
                description: Crew jobs on this film
              character:
                type: string
              awards:
                type: array
                items:
                  type: object
                  properties:
                    slug:
                      type: string
                    isWinner:
                      type: boolean
                  required:
                    - slug
                    - isWinner
                description: Award pages this film appears on
              personAwards:
                type: array
                items:
                  type: object
                  properties:
                    slug:
                      type: string
                      description: Slug of the award page for this category, when one exists
                    organization:
                      type: string
                    category:
                      type: string
                    year:
                      type: integer
                      description: 授賞式の年
                    isWinner:
                      type: boolean
                  required:
                    - organization
                    - category
                    - year
                    - isWinner
                description: Awards this person received for this film
            required:
              - movieUid
              - jobs
              - awards
              - personAwards
          description: Films this person worked on, newest first (one entry per film)
        awards:
          type: array
          items:
            type: object
            properties:
              slug:
                type: string
              shortLabel:
                type: string
              name:
                type: string
              organization:
                type: string
              grouping:
                type: string
                enum:
                  - year
                  - list
            required:
              - slug
              - shortLabel
              - name
              - organization
              - grouping
          description: Legend for the award slugs used by the credits
      required:
        - uid
        - name
        - originalName
        - credits
        - awards

    MovieCredits:
      type: object
      properties:
        cast:
          type: array
          items:
            type: object
            properties:
              uid:
                type: string
                format: uuid
              name:
                type: string
              character:
                type: string
              profilePath:
                type: string
            required:
              - uid
              - name
          description: Billed cast, ordered as credited
        crew:
          type: array
          items:
            type: object
            properties:
              uid:
                type: string
                format: uuid
              name:
                type: string
              job:
                type: string
              profilePath:
                type: string
            required:
              - uid
              - name
              - job
          description: Director first, then writing, camera, editing and music
      required:
        - cast
        - crew

    MovieSearchResponse:
      type: object
      properties:
        movies:
          type: array
          items:
            $ref: '#/components/schemas/Movie'
          description: Search results
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
        filters:
          $ref: '#/components/schemas/SearchFilters'
      required:
        - movies
        - pagination
        - filters

    AdminMoviesResponse:
      type: object
      properties:
        movies:
          type: array
          items:
            $ref: '#/components/schemas/Movie'
          description: Movies list
        pagination:
          $ref: '#/components/schemas/AdminPaginationInfo'
      required:
        - movies
        - pagination

    PaginationInfo:
      type: object
      properties:
        currentPage:
          type: integer
          minimum: 1
          description: Current page number
        totalPages:
          type: integer
          minimum: 1
          description: Total number of pages
        totalCount:
          type: integer
          minimum: 0
          description: Total number of items
        hasNextPage:
          type: boolean
          description: Whether there is a next page
        hasPrevPage:
          type: boolean
          description: Whether there is a previous page
      required:
        - currentPage
        - totalPages
        - totalCount
        - hasNextPage
        - hasPrevPage

    AdminPaginationInfo:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number
        limit:
          type: integer
          minimum: 1
          description: Items per page limit
        totalCount:
          type: integer
          minimum: 0
          description: Total number of items
        totalPages:
          type: integer
          minimum: 1
          description: Total number of pages
      required:
        - page
        - limit
        - totalCount
        - totalPages

    SearchFilters:
      type: object
      properties:
        query:
          type: [string, 'null']
          description: Applied search query
        year:
          type: [integer, 'null']
          description: Applied year filter
        language:
          type: [string, 'null']
          description: Applied language filter
        hasAwards:
          type: [boolean, 'null']
          description: Applied awards filter

    ArticleLinkSubmission:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Article URL
        title:
          type: string
          maxLength: 200
          description: Article title
        description:
          type: [string, 'null']
          maxLength: 500
          description: Article description
        captchaToken:
          type: string
          description: Turnstile captcha response token
      required:
        - url
        - title
        - captchaToken

    ArticleLinkResponse:
      allOf:
        - $ref: '#/components/schemas/ArticleLink'
        - type: object
          properties:
            movieUid:
              type: string
              format: uuid
              description: Associated movie identifier
            submitterIp:
              type: string
              description: Submitter IP address (admin only)

    TranslationRequest:
      type: object
      properties:
        languageCode:
          type: string
          pattern: '^[a-z]{2}$'
          description: ISO 639-1 language code
        content:
          type: string
          minLength: 1
          maxLength: 500
          description: Translated movie title
      required:
        - languageCode
        - content

    ImdbIdUpdateRequest:
      type: object
      properties:
        imdbId:
          type: string
          pattern: '^tt\d{7,8}$'
          description: IMDb identifier in tt format
        refreshData:
          type: boolean
          default: false
          description: Whether to fetch additional data from TMDb
      required:
        - imdbId

    ImdbIdUpdateResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Operation success status
        refreshResults:
          type: [object, 'null']
          properties:
            tmdbId:
              type: [integer, 'null']
              description: Auto-detected TMDb ID
            postersAdded:
              type: integer
              description: Number of posters added
            translationsAdded:
              type: integer
              description: Number of translations added
          description: Results of TMDb data refresh (if refreshData was true)
      required:
        - success

    TmdbIdUpdateRequest:
      type: object
      properties:
        tmdbId:
          type: integer
          minimum: 1
          description: TMDb identifier (positive integer)
        refreshData:
          type: boolean
          default: false
          description: Whether to fetch additional data from TMDb
      required:
        - tmdbId

    TmdbIdUpdateResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Operation success status
        refreshResults:
          type: [object, 'null']
          properties:
            postersAdded:
              type: integer
              description: Number of posters added
            translationsAdded:
              type: integer
              description: Number of translations added
          description: Results of TMDb data refresh (if refreshData was true)
      required:
        - success

    PosterAddRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Poster image URL
        width:
          type: [integer, 'null']
          minimum: 1
          description: Image width in pixels
        height:
          type: [integer, 'null']
          minimum: 1
          description: Image height in pixels
        languageCode:
          type: [string, 'null']
          pattern: '^[a-z]{2}$'
          description: Language-specific poster
        isPrimary:
          type: boolean
          default: false
          description: Whether this should be the primary poster
      required:
        - url

    PosterResponse:
      allOf:
        - $ref: '#/components/schemas/Poster'
        - type: object
          properties:
            movieUid:
              type: string
              format: uuid
              description: Associated movie identifier
            createdAt:
              type: integer
              description: Creation timestamp
            updatedAt:
              type: integer
              description: Last update timestamp

    ReselectRequest:
      type: object
      properties:
        type:
          type: string
          enum: [daily, weekly, monthly]
          description: Selection period type
        locale:
          type: string
          enum: [en, ja]
          default: en
          description: Language preference
        date:
          type: string
          pattern: '^\d{4}-\d{2}-\d{2}$'
          description: Target date for the reselection (YYYY-MM-DD, defaults to today)
        excludeMovieUids:
          type: array
          items:
            type: string
            format: uuid
          description: Movie UIDs to exclude from the reselection
      required:
        - type

    ReselectResponse:
      type: object
      properties:
        type:
          type: string
          description: Selection period type
        movie:
          $ref: '#/components/schemas/MovieWithDetails'
      required:
        - type
        - movie

    MovieCreateRequest:
      type: object
      properties:
        imdbId:
          type: string
          pattern: '^tt\d{7,8}$'
          description: IMDb identifier in tt format
        refreshData:
          type: boolean
          default: true
          description: Whether to import posters and translations from TMDb
      required:
        - imdbId

    MovieCreateResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Operation success status
        movie:
          type: object
          properties:
            uid:
              type: string
              format: uuid
              description: Unique identifier for the created movie
            imdbId:
              type: string
              description: IMDb identifier
            tmdbId:
              type: integer
              description: TMDb identifier
            year:
              type: integer
              description: Release year
            originalLanguage:
              type: string
              description: ISO 639-1 language code
          required:
            - uid
        imports:
          type: object
          properties:
            translationsAdded:
              type: integer
              description: Number of translations imported
            postersAdded:
              type: integer
              description: Number of posters imported
      required:
        - success
        - movie

    MovieUpdateRequest:
      type: object
      properties:
        year:
          type: integer
          minimum: 1888
          maximum: 2100
          description: Release year
        originalLanguage:
          type: string
          pattern: '^[a-z]{2}$'
          description: ISO 639-1 language code
        mediaType:
          type: string
          enum: [movie, tv]
          description: Media type

    AdminMovieDetails:
      type: object
      properties:
        uid:
          type: string
          format: uuid
          description: Unique identifier for the movie
        year:
          type: [integer, 'null']
          description: Release year
        originalLanguage:
          type: string
          description: ISO 639-1 language code
        imdbId:
          type: [string, 'null']
          description: IMDb identifier (tt format)
        tmdbId:
          type: [integer, 'null']
          description: TMDb identifier
        mediaType:
          type: string
          enum: [movie, tv]
          description: Media type
        translations:
          type: array
          items:
            type: object
            properties:
              uid:
                type: string
                format: uuid
              languageCode:
                type: string
              content:
                type: string
              isDefault:
                type: integer
                description: 1 if this is the default translation
          description: All movie title translations
        posters:
          type: array
          items:
            $ref: '#/components/schemas/Poster'
          description: All poster images for the movie
        nominations:
          type: array
          items:
            type: object
            properties:
              uid:
                type: string
                format: uuid
              isWinner:
                type: integer
              specialMention:
                type: [string, 'null']
              categoryUid:
                type: string
                format: uuid
              categoryName:
                type: string
              ceremonyUid:
                type: string
                format: uuid
              ceremonyNumber:
                type: [integer, 'null']
              ceremonyYear:
                type: integer
              organizationUid:
                type: string
                format: uuid
              organizationName:
                type: string
              organizationShortName:
                type: [string, 'null']
          description: Awards and nominations with full details
      required:
        - uid
        - originalLanguage

    ExternalIdSearchResponse:
      type: object
      properties:
        usedQuery:
          type: string
          description: Query used for the TMDb search
        usedYear:
          type: integer
          description: Year used to bias search results
        results:
          type: array
          items:
            type: object
            properties:
              tmdbId:
                type: integer
                description: TMDb identifier
              imdbId:
                type: string
                description: IMDb identifier
              title:
                type: string
                description: Localized title
              originalTitle:
                type: string
                description: Original title
              releaseDate:
                type: string
                description: Release date (YYYY-MM-DD)
              overview:
[...]
